@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.sidebar-active {
  background: linear-gradient(90deg, rgba(99, 102, 241, 0.15) 0%, rgba(99, 102, 241, 0) 100%);
  border-left: 3px solid #6366f1;
  box-shadow: 10px 0 20px -10px rgba(99, 102, 241, 0.5);
}

.glow-text {
  text-shadow: 0 0 10px rgba(99, 102, 241, 0.5);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
